@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  body {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 18px; 
}

.top-menu {
    width: 75%;
    margin: auto;
}

.top-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #B7B7B7;
    margin-top: 25px;
    padding-bottom: 25px;
}

.top-information__logo { 
    height: 50px;
}

.top-information__main-info { 
    color: #1D479B;
    line-height: 22px;
    font-weight: 900;
}

.top-information__additional-info { 
    color: #757575;
    line-height: 22px;
    text-decoration: none;
}

.top-information__info:last-child >.top-information__additional-info:hover { 
    text-decoration: underline;
}

.top-information__phone {
    color: #1D479B;
    line-height: 22px;
    font-weight: 900;
    text-decoration: none;
}

.top-information__phone:hover {
    text-decoration: underline;
}

.top-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.top-links__link {
    font-size: 20px;
    line-height: 24px;
    color: #1D479B;
    text-decoration: none;
    padding-bottom: 25px;
    position: relative;
}

.top-links__link:after {
    display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #1D479B;
	content: "";
	transition: width 0.3s ease-out;
}

.top-links__link:hover:after {
	width: 100%;
}

.top-block {
    background: url('../images/mask.png') no-repeat;
    background-size: cover;
    display: flex;
    height: 550px;
    flex-direction: column;
    justify-content: center;
    padding-left: 4%;
}

.top-block__title {
    font-size: 45px;
    line-height: 55px;
    color: #fff;
    font-weight: 900;
}

.top-block__descr {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 20px;
}

.top-block__action {
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 60px;
}

.top-block__button {
    background: linear-gradient(92.33deg, #1D479B 17.41%, #3345EB 100%);
    box-shadow: 0px 5px 15px #1D479B;
    color: #fff;
    padding: 15px 90px;
    font-size: 25px;
    margin-left: 25px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.top-block__button:hover {
    box-shadow: none;
}

.construction {
    width: 75%;
    margin: auto;
}

.constructions-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.construction__title {
    margin-top: 30px;
    font-size: 40px;
    line-height: 49px;
    color: #1D479B;
    text-align: center;
    font-weight: 900;
}

.construction__button {
    background: linear-gradient(92.33deg, #1D479B 17.41%, #3345EB 100%);
    box-shadow: 0px 5px 15px #1D479B;
    color: #fff;
    padding: 15px 90px;
    font-size: 25px;
    border: none;
    margin: 40px auto;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.construction__button:hover {
    box-shadow: none;
}

.construction-link-block {
    text-align: center;
}

.constructions-list__item {
    border: 1px solid #D9D9D9;
    margin-top: 30px;
    margin-left: 20px;
    flex-basis: 100%;
    padding: 10px;
}

.constructions-list__image {
    margin: 30px auto 0;
    display: block;
}

.constructions-list__text {
    text-align: center;
    font-size: 23px;
    line-height: 28px;
    color: #000;
    margin: 15px auto 20px;
}

.works {
    background: #F2F2F2;
    padding-bottom: 4%;
}

.works__title {
    padding-top: 30px;
    font-size: 40px;
    line-height: 49px;
    color: #1D479B;
    text-align: center;
    font-weight: 900;
    margin-bottom: 30px;
}

.slick-slider {
    width: 50%;
    margin: 0 auto;
}

.slick-initialized .slick-slide {
    display: block;
    width: 100%;
}

.advantages {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/advantages.jpg');
    background-position: top;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    height: 750px;
}

.advantages-link-block {
    text-align: center;
}

.advantages__button {
    background: linear-gradient(92.33deg, #1D479B 17.41%, #3345EB 100%);
    box-shadow: 0px 5px 15px #1D479B;
    color: #fff;
    padding: 15px 90px;
    font-size: 25px;
    border: none;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.advantages__button:hover {
    box-shadow: none;
}

.advantages__title {
    font-size: 40px;
    font-weight: 900;
    padding-top: 30px;
    color: #fff;
    text-align: center;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 5% 3.5%;
}

.advantages-list__title {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
}

.advantages-list__text {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 10px;
}

.advantages-list__item {
    width: calc(25% - 50px);
    background: rgba(29, 71, 155, 0.31);
    margin-left: 20px;
    margin-top: 20px;
    padding: 15px;
}

.quality__title {
    padding-top: 30px;
    font-size: 40px;
    line-height: 49px;
    color: #1D479B;
    text-align: center;
    font-weight: 900;
    margin-bottom: 30px;
}

.questions {
    background: url('../images/factory.png') no-repeat;
    background-size: cover;
    height: 360px;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 10%;
}

.questions__koshachya-zhena {
    height: 95%;
}

.questions-block {
    align-self: flex-start;
    margin-top: 4%;
    margin-left: 5%;
    flex-grow: 1;
}

.questions-block__title {
    font-size: 40px;
    line-height: 49px;
    color: #fff;
    font-weight: 900;
}

.questions-block__text {
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 20px;
}

.questions-block__form {
    margin-top: 5%;
}

.questions-block__submit {
    background: linear-gradient(92.33deg, #1D479B 17.41%, #3345EB 100%);
    box-shadow: 0px 5px 15px #1D479B;
    color: #fff;
    padding: 15px 90px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.questions-block__submit:hover {
    box-shadow: none;
}

.questions-block__input {
    margin-right: 15px;
    padding: 18px;
}

.questions-block__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  
  
  .questions-block__label {
    position: absolute;
    pointer-events: none;
    left: 15px;
    right: 15px;
    top: 8px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 40px;
    transition: .3s;
    color: #949494;
  }
  
  .questions-block__input:focus~.questions-block__label,
  .questions-block__input:not(:focus):valid~.questions-block__label {
    top: -10px;
    font-size: 10px;
  }

  .footer-links {
    width: 75%;
    margin: auto;
    border-bottom: 1px solid #B7B7B7;
    padding-bottom: 20px;
    margin-top: 10px;
}

.footer-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: 25px;
}

.footer-information__logo { 
    height: 50px;
}

.footer-information__main-info { 
    color: #1D479B;
    line-height: 22px;
    font-weight: 900;
}

.footer-information__additional-info { 
    color: #757575;
    line-height: 22px;
    text-decoration: none;
}

.footer-information__info:last-child >.footer-information__additional-info:hover { 
    text-decoration: underline;
}

.footer-information__info:last-child {
    align-self: flex-start;
    font-size: 18px;
    line-height: 22px;
}

.footer-information__phone {
    color: #1D479B;
    line-height: 22px;
    font-weight: 900;
    text-decoration: none;
}

.footer-information__phone:hover {
    text-decoration: underline;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.footer-links__link {
    font-size: 20px;
    line-height: 24px;
    color: #1D479B;
    text-decoration: none;
    padding-bottom: 25px;
    position: relative;
}

.footer-links__link:after {
    display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #1D479B;
	content: "";
	transition: width 0.3s ease-out;
}

.footer-links__link:hover:after {
	width: 100%;
}

.footer-information__socials {
    text-align: center;
    margin-top: 5px;
}

.footer-information__image {
    height: 23px;
    width: 23px;
}

.footer-information__image:hover {
    opacity: 0.75;
}

.footer-background {
    background: #F3F3F3;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
}

.footer-bottom__text {
font-size: 14px;
line-height: 16px;
color: #555555;
}

.footer-bottom__link {
    font-size: 14px;
    line-height: 16px;
    color: #555555;
}

@media screen and (max-width: 1400px) {
    .fa-angle-right {
        right: 35%;
    }

    .fa-angle-left {
        left: 35%;
    }
    .footer-links__link {
        padding-bottom: 0;
    }
  }

@media screen and (max-width: 1371px) {
    .advantages-list {
        margin: 1% 5% 2.5%;
    }
  }

  @media screen and (max-width: 1311px) {
    .advantages-list {
        margin: 1% 5% 1.8%;
    }
  }

  @media screen and (max-width: 1281px) {
    .advantages-list__item {
        padding: 10px;
    }
  }

  @media screen and (max-width: 1261px) {
    .advantages-list__item {
        width: calc(25% - 45px);
    }
    .advantages-list {
        margin: 1% 5% 2.5%;
    }
    .questions-block__submit {
        padding: 15px 75px;
    }
  }

  @media screen and (max-width: 1259px) {
    .constructions-list__image {
        margin: 25px auto 0;
    }
  }


  @media screen and (max-width: 1240px) {
    .advantages-list {
        margin: 1% 5% 1.5%;
    }
    .questions-block__submit {
        padding: 15px 65px;
    }
  }

  @media screen and (max-width: 1240px) {
    .questions-block__submit {
        padding: 15px 55px;
    }
    .questions-block__input {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-background {
        margin-top: 1%;
    }
  }

  @media screen and (max-width: 1165px) {
    .advantages-list__item {
        padding: 4px;
    }
    .questions-block__submit {
        padding: 15px 40px;
    }
    .questions-block__input {
        padding-left: 7px;
        padding-right: 7px;
    }
  }

  @media screen and (max-width: 1148px) {
    .advantages-list__text {
        font-size: 17px;
        line-height: 20px;
        margin-top: 9px;
    }
    .advantages-list {
        margin: 1% 5% 2.5%;
    }
  }

  @media screen and (max-width: 1130px) {
    .top-information__main-info {
        font-size: 17px;
    }
    .top-information__additional-info {
        font-size: 17px;
    }
  }

  @media screen and (max-width: 1170px) {
    .top-information__main-info {
        font-size: 16px;
    }
    .top-information__additional-info {
        font-size: 16px;
    }
  }

  @media screen and (max-width: 1121px) {
    .top-menu {
        width: 85%;
    }
    .fa-angle-right {
        right: 30%;
    }

    .fa-angle-left {
        left: 30%;
    }
    .questions-block__submit {
        padding: 15px 25px;
    }
    .questions-block__input {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 20px;
    }
  }

  @media screen and (max-width: 1100px) {
    .questions-block__submit {
        padding: 15px 20px;
    }
    .questions-block__input {
        padding-left: 3px;
        padding-right: 3px;
    }
  }

  @media screen and (max-width: 1096px) {
    .advantages-list__item {
        width: calc(30%);
    }

    .advantages-list__title {
        font-size: 16px;
        line-height: 20px;
        margin-top: 7px;
    }
    .advantages-list__text {
        font-size: 15px;
        line-height: 18px;
        margin-top: 7px;
    }
    .advantages-list {
        margin: 1% 5% 1.5%;
    }
  }

  @media screen and (max-width: 1090px) {
    .questions {
        padding-left: 7%;
    }
    .footer-links__link {
        font-size: 18px;
        line-height: 20px;
    }
    .footer-information__main-info {
        line-height: 18px;
        font-size: 16px;
    }
    .footer-information__additional-info {
        line-height: 18px;
        font-size: 16px;
    }
  }

  @media screen and (max-width: 1050px) {
    .questions {
        padding-left: 5%;
    }
  }

  @media screen and (max-width: 1030px) {
    .questions {
        padding-left: 2%;
    }
  }

  @media screen and (max-width: 1000px) {
    .top-menu {
        width: 90%;
    }
    .footer-links {
        width: 90%;
    }
    .footer-information {
        width: 90%;
    }
    .footer-bottom {
        width: 90%;
    }
  }

  @media screen and (max-width: 991px) {
    .questions__koshachya-zhena {
        display: none;
    }
    .questions-block {
        align-self: center;
        margin-top: 0;
        margin-left: 0;
        flex-grow: 0;
    }
    .questions {
        padding-left: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
    .constructions-list {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .construction {
        width: 95%;
        margin: auto;
    }
    .constructions-list__item {
        margin-left: 0;
        flex-basis: 40%;
    }
  }

 

  @media screen and (max-width: 934px) {
    .top-block__button {
        display: block;
        width: 60%;
        margin: 5% auto;
        text-align: center;
    }
    .top-block {
        height: 420px;
    }
    .top-block__title {
        margin-top: 4%;
    }
    .top-information__main-info {
        font-size: 15px;
    }
    .top-information__additional-info {
        font-size: 15px;
    }
    .advantages-list__item {
        width: calc(29%);
    }
  }

  @media screen and (max-width: 900px) {
    .top-block__title {
        font-size: 40px;
        line-height: 50px;
    }
    .fa-angle-right {
        right: 25%;
    }

    .fa-angle-left {
        left: 25%;
    }
  }

  @media screen and (max-width: 842px) {
    .advantages-list__item {
        width: calc(38%);
        padding: 20px;
        margin: 10px auto;
    }
    .advantages {
        height: 1075px;
    }
  }

  @media screen and (max-width: 799px) {
    .advantages-list__item {
        width: calc(42%);
        padding: 10px;
    }
    .advantages {
        height: 990px;
    }
  }

  @media screen and (max-width: 801px) {
      .top-information__info {
          flex-basis: 40%;
          margin-top: 2%;
      }
      .top-information {
        flex-wrap: wrap;
    }
    .top-information__main-info {
        font-size: 20px;
    }
    .footer-links__link {
        font-size: 17px;
        line-height: 18px;
    }

    #slider01 {
        width: 80%;
    }

    #slider02  {
        width: 30%;
    }
    #slider02 .slick-slide {
        padding-right: 0;
    }
    .fa-angle-right2 {
        right: 5%;
    }
    .fa-angle-left2 {
        left: 5%;
    }
  }

  @media screen and (max-width: 778px) {
    .top-block__button {
        margin: 3% auto;
    }
    .top-block__action {
        margin-top: 50px;
    }
    .top-block__title {
        font-size: 35px;
        line-height: 40px;
    }
    .footer-information__main-info {
        line-height: 16px;
        font-size: 14px;
    }
    .footer-information__additional-info {
        line-height: 16px;
        font-size: 14px;
    }
    .footer-information__info:last-child {
        font-size: 16px;
        line-height: 18px;
    }
  }


  @media screen and (max-width: 801px) {
  .top-information__main-info {
      font-size: 18px;
  }
}

  @media screen and (max-width: 716px) {
    .advantages-list__item {
        padding: 9px;
    }
    .questions-block__input {
      margin-right: 5px;
      padding: 15px;
  }
  .questions-block__input {
      padding-left: 1px;
      padding-right: 1px;
      font-size: 18px;
  }
  .questions-block__label {
      line-height: 35x;
      font-size: 16px;
  }
  .questions-block__submit {
      padding: 13px 15px;
  }
  .footer-links {
      display: none;
  }
  .footer-information__info:not(:last-child) {
      display: none;
  }
  .footer-information__info:last-child {
      font-size: 20px;
      line-height: 35px;
      margin: 0 auto;
  }
  .footer-information__image {
      height: 46px;
      width: 46px;
  }
  .footer-bottom__logo {
      display: none;
  }
  .footer-bottom__text {
    margin: 0 auto;
}
.top-block__button {
    margin-left: 3%;
}
  }


  @media screen and (max-width: 675px) {
    .constructions-list__image {
        margin: 20px auto 0;
    }
    .advantages-list__item {
        padding: 12px;
    }
  }

  @media screen and (max-width: 670px) {
    .advantages-list__item {
        padding: 15px;
    }
  }

  @media screen and (max-width: 669px) {
    .constructions-list__image {
        margin: 15px auto 0;
    }
    .top-links__link {
        font-size: 29px;
        line-height: 24px;
        color: #1D479B;
        text-decoration: none;
        position: relative;
        flex-basis: 100%;
        border-bottom: 1px solid #999;
        margin-bottom: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        text-align: center;
    }
    .top-links {
        flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 657px) {
    .constructions-list__image {
        margin: 10px auto 0;
    }
    .advantages__button {
        padding: 15px 50px;
    }
    .top-information__main-info {
        font-size: 17px;
    }
    .advantages-list__item {
        padding: 18px;
    }
  }

  @media screen and (max-width: 638px) {
    .constructions-list__image {
        margin: 5px auto 0;
    }
    .advantages-list__item {
        padding: 15px;
    }
    .advantages {
        height: 950px;
    }
    
  }

  @media screen and (max-width: 623px) {
    .questions-block__input {
        padding-left: 1px;
        padding-right: 1px;
        font-size: 15px;
    }
    .questions-block__input {
        margin-right: 3px;
        padding: 10px;
    }
    .questions-block__label {
        font-size: 14px;
        left: 10px;
        top: 0;
    }
    .questions-block__submit {
        padding: 6px 15px;
    }
    .questions-block__form {
        margin-top: 3%;
    }
    .questions-block__text {
        font-size: 20px;
        line-height: 20px;
        margin-top: 10px;
    }
    .questions-block__title {
        font-size: 32px;
        line-height: 35px;
    }
    .questions {
        height: 220px;
    }
    .top-block {
        padding-left: 0;
    }
    .top-block__title {
        font-size: 30px;
        line-height: 35px;
        margin-left: 3%;
    }
    .top-block__descr {
        font-size: 18px;
        line-height: 20px;
        margin-top: 15px;
        margin-left: 3%;
    }
    .top-block__action {
        margin-top: 30px;
        font-size: 22px;
        line-height: 25px;
        margin-left: 3%;
    }
    .top-block__button {
        margin-left: 3%;
    }
    .top-block {
        height: 320px;
    }
    .advantages-list__text {
        font-size: 14px;
        line-height: 18px;
        margin-top: 7px;
    }
    .advantages-list__title {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }
    .advantages {
        height: 940px;
    }
    .advantages-list__item {
        padding: 13px;
    }
  }
  @media screen and (max-width: 614px) {
    .top-information__main-info {
        font-size: 16px;
    }
    .top-information__additional-info {
        font-size: 14px;
    }
    .advantages-list__item {
        padding: 5px;
    }
  }

  @media screen and (max-width: 613px) {
    .advantages-list__text {
        font-size: 13px;
        line-height: 15px;
        margin-top: 5px;
    }
    .advantages-list__title {
        font-size: 13px;
        line-height: 18px;
        margin-top: 7px;
    }
    .advantages {
        height: 820px;
    }
    .questions-block__submit {
        display: block;
        margin: 0 auto;
        margin-top: 4%;
        padding: 6px 67px;
    }
    .questions {
        height: 240px;
    }
    .top-block__button {
        margin-left: 1%;
    }
  }

  @media screen and (max-width: 579px) {
    .top-information__main-info {
        font-size: 15px;
    }
    .top-information__additional-info {
        font-size: 13px;
        line-height: 15px;
    }
    .fa-angle-right {
        right: 20%;
    }
    .fa-angle-left {
        left: 20%;
    }
    .fa-angle-right2 {
        right: -10%;
    }
    .fa-angle-left2 {
        left: -10%;
    }
  }

  @media screen and (max-width: 596px) {
    .advantages__button {
        padding: 15px 30px;
    }
  }

  @media screen and (max-width: 542px) {
    .construction__button {
        padding: 15px 70px;
    }
  }
  @media screen and (max-width: 546px) {
    .top-information__main-info {
        font-size: 14px;
    }
    .top-block__action {
        margin-top: 10px;
    }
  }
  
  @media screen and (max-width: 545px) {
    .top-information__logo {
        height: 40px;
    }
  }

  @media screen and (max-width: 531px) {
    .advantages-list__item {
        padding: 25px;
    }
    .advantages-list__title {
        font-size: 16px;
    }
    .advantages-list__text {
        font-size: 15px;
    }
    .advantages-list__item {
        width: calc(35%);
    }
    .advantages {
        height: 1150px;
    }
    .advantages__title {
        font-size: 38px;
    }
    .top-block__action {
        margin-top: 10px;
    }
    .top-block__button {
        
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    margin-left: 5%;
    width: 50%;
    }
    .top-block__descr {
        font-size: 16px;
        line-height: 16px;
        margin-top: 10px;
    }
  }

  @media screen and (max-width: 546px) {
    .top-information__main-info {
        font-size: 13px;
    }
    .top-information__additional-info {
        font-size: 12px;
    }
    .advantages__button {
        padding: 15px 10px;
    }
    .advantages__title {
        font-size: 35px;
    }
    .quality__title {
        padding-top: 20px;
        font-size: 35px;
        line-height: 40px;
    }
    .constructions-list__item {
        flex-basis: 95%;
    }
    .fa-angle-right {
        right: 15%;
    }
    .fa-angle-left {
        left: 15%;
    }
    .fa-angle-right2 {
        right: -25%;
    }
    .fa-angle-left2 {
        left: -25%;
    }
  }

  
  @media screen and (max-width: 499px) {
    .construction__button {
        padding: 15px 50px;
    }
    .advantages-list__item {
        padding: 20px;
    }
    .advantages-list {
        margin: 1% 5% 3.5%;
    }
}

  @media screen and (max-width: 491px) {
    .advantages__button {
        padding: 15px 5px;
        font-size: 23px;
    }
    .top-block__title {
        font-size: 25px;
        line-height: 30px;
    }
    .top-block__descr {
        font-size: 16px;
        line-height: 18px;
        margin-top: 30px;
    }
  }

  @media screen and (max-width: 477px) {
    .top-information__main-info {
        font-size: 12px;
    }
    .top-information__additional-info {
        font-size: 11px;
    }
    .top-block__button {
        margin-left: 2%;
    }
  }


  @media screen and (max-width: 465px) {
    .advantages-list__item {
        padding: 16px;
    }
  }

  @media screen and (max-width: 458px) {
    .construction__button {
        padding: 15px 40px;
    }
  }


  @media screen and (max-width: 443px) {
    .top-information__main-info {
        font-size: 11px;
    }
    .top-information__additional-info {
        font-size: 10px;
    }
    .top-information__logo {
        height: 35px;
    }
    .advantages-list__item {
        padding: 14px;
    }
    .advantages__button {
        padding: 15px 3px;
        font-size: 22px;
    }
  }

  @media screen and (max-width: 436px) {
    .construction__button {
        padding: 15px 35px;
    }
  }

  @media screen and (max-width: 425px) {
    .construction__button {
        padding: 15px 30px;
    }
    .advantages__button {
        padding: 15px 3px;
        font-size: 20px;
    }
  }

  @media screen and (max-width: 415px) {
    .construction__button {
        padding: 15px 25px;
    }
  }

  @media screen and (max-width: 404px) {
    .construction__button {
        padding: 15px 20px;
    }
    .advantages-list__item {
        padding: 11px;
    }
  }

  @media screen and (max-width: 405px) {
    .top-block {
        height: 340px;
    }
  }

  @media screen and (max-width: 401px) {
    .container {
        min-width: 400px;
    }
  }