/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-vertical .slick-arrow {
  width: 30px !important;
  display: block !important;
  margin: 0 auto !important;
  cursor: pointer !important;
margin-top: 10px;
margin-bottom: 10px;
}

.slick-vertical .slick-arrow{ 
  opacity: .5; 
}

.slick-vertical .slick-arrow:hover { 
  opacity: .2; 
}

.slick-slider {
  margin: 0 30px 30px;
position: relative;
  display: block;
}

.slick-slide
{
	cursor: pointer;
}

.myarrow
{
bottom: -48px;
position: absolute;
z-index: 9999;
font-size: 30px;	
cursor: pointer;
}

.myarrow:hover { 
  opacity: .7; 
}

.fa-angle-right
  {
	right: 38%;  
  }
  
  .fa-angle-left
  {  
	left: 38%;
  }
  
.fa-angle-right_ svg path { fill: #D2D2D2; }
.fa-angle-left_ svg path { fill: #1D479B; }

  .fa-angle-left:before{
 content: '';
 }
 
  .fa-angle-right:before{
 content: '';
 }

 .slides-numbers {
    text-align: center;
    margin-top: 25px;
    color: #B9B9B9;
 }

 .slides-numbers > .active {
     color: #1D479B;
 }

 #slider02 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

 }

 #slider02 .slick-slide {
    padding-right: 2%;
    z-index: 4;
    position: relative;
 }

 .overlay {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
   
  .overlay:hover:after{
    content:"";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.49);
    z-index: 5;
    pointer-events: none;
  }
  
  .zoom {
    background: url(../images/zoom.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    z-index: 6;
  }

  .zoom:hover {
    opacity: 1;
  }